#view-highscores {
    color: purple;
    text-decoration: none;
}

#countdown {
    position: relative;
    left: 1800px;
    bottom: 35px;
}

#head {
    position: relative;
    left: 820px;
    top: 100px;
}

#description {
    position: relative;
    left: 23px;
    top: 100px;
    text-align: center;
    font-size: 20px;
}

#button-screen1 {
    position: relative;
    left: 935px;
    top: 100px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.button-screen {
    position: relative;
    display: block;
    left: 935px;
    top: 100px;
    margin: 10px;
}